@page
@model Vote.Areas.Edit.Pages.Role.DeleteModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Role</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Role.Id)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Role.Id)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Role.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Role.Name)
            </dd>
        </dl>

        <form method="post">
            <input type="hidden" asp-for="Role.Id" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-page="./Index">Back to List</a>
        </form>
    </div>
</body>
</html>
