@page
@model Vote.Areas.Edit.Pages.Role.DetailsModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

    <div>
        <h4>Role</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Role.Id)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Role.Id)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Role.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Role.Name)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-page="./Edit" asp-route-id="@Model.Role.Id">Edit</a> |
        <a asp-page="./Index">Back to List</a>
    </div>
</body>
</html>
