﻿@page
@model Vote.Areas.Manage.Pages.User.EditModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VoteUser.CustomTag2" class="control-label"></label>
                <input asp-for="VoteUser.CustomTag2" class="form-control" />
                <span asp-validation-for="VoteUser.CustomTag2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VoteUser.LockoutEnd" class="control-label"></label>
                <input asp-for="VoteUser.LockoutEnd" class="form-control" />
                <span asp-validation-for="VoteUser.LockoutEnd" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="VoteUser.TwoFactorEnabled" /> @Html.DisplayNameFor(model => model.VoteUser.TwoFactorEnabled)
                </label>
            </div>

            <div class="form-group">
                <label asp-for="VoteUser.PhoneNumber" class="control-label"></label>
                <input asp-for="VoteUser.PhoneNumber" class="form-control" />
                <span asp-validation-for="VoteUser.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="VoteUser.EmailConfirmed" /> @Html.DisplayNameFor(model => model.VoteUser.EmailConfirmed)
                </label>
            </div>
<div class="form-group">
                <label asp-for="VoteUser.Email" class="control-label"></label>
                <input asp-for="VoteUser.Email" class="form-control" />
                <span asp-validation-for="VoteUser.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VoteUser.UserName" class="control-label"></label>
                <input asp-for="VoteUser.UserName" class="form-control" />
                <span asp-validation-for="VoteUser.UserName" class="text-danger"></span>
            </div>
            @if (Model.VoteUser.Roles != null)
            {
                for (int i = 0; i < Model.VoteUser.Roles.Count; i++)
                {
                    if (Model.VoteUser.Roles[i] != null)
                    {
                        <div class="form-group">
                            <label asp-for="@Model.VoteUser.Roles[i]" class="control-label"></label>
                            <input asp-for="@Model.VoteUser.Roles[i]" class="form-control" />
                            <span asp-validation-for="@Model.VoteUser.Roles[i]" class="text-danger"></span>
                        </div>
                    }
                }
            }
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

</body>
</html>
