﻿@page
@model Vote.Areas.Manage.Pages.User.IndexModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VoteUser[0].CustomTag2)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.VoteUser[0].LockoutEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VoteUser[0].TwoFactorEnabled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VoteUser[0].PhoneNumberConfirmed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VoteUser[0].PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VoteUser[0].ConcurrencyStamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VoteUser[0].SecurityStamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VoteUser[0].PasswordHash)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VoteUser[0].EmailConfirmed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VoteUser[0].NormalizedEmail)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.VoteUser[0].Email)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.VoteUser[0].NormalizedUserName)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.VoteUser[0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VoteUser[0].LockoutEnabled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VoteUser[0].AccessFailedCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VoteUser[0].Roles)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.VoteUser) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomTag2)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.LockoutEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TwoFactorEnabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumberConfirmed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConcurrencyStamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecurityStamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PasswordHash)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailConfirmed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NormalizedEmail)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.NormalizedUserName)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LockoutEnabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccessFailedCount)
            </td>
            <td>
                @if (item.Roles != null)
                {
                    @string.Join(", ", item.Roles);
                }
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
