﻿@using Microsoft.AspNetCore.Http.Features

@{
    // COOKIE BANNER SECTION

    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !(consentFeature?.CanTrack ?? false);

}

@if (showBanner)
{
    // Creates a consent cookie for use when granting consent from a javascript client.
    var cookieString = consentFeature?.CreateConsentCookie();

    <div id="gdpr" class="footer" style="background: white; line-height: normal; z-index: 1; padding: 12px; text-align: center;" onclick="document.cookie = '@cookieString'; this.style.display = 'none';">
        <span>Diese Seite nutzt Cookies.</span>
        <button>Akzeptieren</button>
    </div>
}
