@model Vote.Models.Cms.Blocks.FormBlock

@if (Model?.Items != null)
{
    <form action="@Model.UploadAction.Value">
        <div class="col columns block">
            @for (var n = 0; n < Model.Items.Count; n++)
            {
                <div class="row">
                    @Html.DisplayFor(m => Model.Items[n], Model.Items[n].GetType().Name)
                </div>
            }
        </div>
    </form>
}