@model Piranha.Extend.Blocks.ImageBlock

@if (Model?.Body != null)
{
    <div class="block image-block">
        <img src="@Url.Content(WebApp.Media.ResizeImage(Model, 920))" alt="@Model.Body.Media.AltText" title="@Model.Body.Media.Title">
    </div>
}