@model Piranha.Extend.Blocks.VideoBlock

@if (Model?.Body != null)
{
    <div class="block">
        <video class="mw-100" controls>
            <source src="@Url.Content(Model.Body)">
            Your browser does not support the video tag.
        </video>
    </div>
}