﻿@page
@model Vote.Areas.Edit.Pages.Institution.DeleteModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Institution</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Institution.InstitutionType)
            </dt>
            @if (Model.Institution.InstitutionType != null)
            {
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Institution.InstitutionType!.Name)
                </dd>
            }
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Institution.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Institution.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Institution.PLZ)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Institution.PLZ)
            </dd>
        </dl>

        <form method="post">
            <input type="hidden" asp-for="Institution.Id" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-page="./Index">Back to List</a>
        </form>
    </div>
</body>
</html>
