﻿@page
@model Vote.Areas.Edit.Pages.Institution.DetailsModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

    <div>
        <h4>Institution</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Institution.InstitutionType)
            </dt>
            @if (Model.Institution.InstitutionType != null)
            {
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Institution.InstitutionType!.Name)
                </dd>
            }
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Institution.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Institution.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Institution.PLZ)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Institution.PLZ)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-page="./Edit" asp-route-id="@Model.Institution.Id">Edit</a> |
        <a asp-page="./Index">Back to List</a>
    </div>
</body>
</html>
