﻿@page
@model Vote.Areas.Edit.Pages.Institution.IndexModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        <a asp-page="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Institution[0].InstitutionType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Institution[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Institution[0].PLZ)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Institution)
            {
                <tr>
                    @if (item.InstitutionType != null)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.InstitutionType.Name)
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PLZ)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
